/* Guia de Cores:
    -color-gold: #ffd700;
    -color-red: #ed1c2e;
    -color-bg-header-footer: rgb(36, 31, 31);
    -color-purple: #939;
    -color-darkpurple: #4b0082;
    -color-+darkpurple: #3f0569;
    -color-ghostwhite: #f8f8ff;
    -color-fonteLink: #808080;
    -color-text-manchete: #111;
    -color-bg-vinho: #5e2129;
*/
body{
    background-image: url(../img/background-sinalizadores.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    background-attachment: fixed;
}

.banner{
    margin-top: 10vh;
    width: 60%;
    height: 80vh;
    display: flex;
    padding: 0;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 25vh;
}
.title-entrar{
    font-size: 30px;
    font-weight: 800;
    padding: 10px;
    margin-top: 5vh;
    margin-bottom: 10vh;
    color: #f8f8f8;
    background-color: #5e2129;
    border-radius: 50px;
    padding: 7px;
    width: 100%;
}

.infos-entrar{
    font-size: 20px;
    color: #f8f8f8;
    width: 60%;
}
.infos-entrar input{
    margin-top: 2vh;
    padding: 10px;
    width: 90%;
    border-radius: 50px;
    margin-bottom: 8vh;
}
.infos-entrar input:focus{
    border: 2px solid red;
    outline: none;
}
.btn-entrar{
    padding: 10px;
    width: 95%;
    margin-top: 5vh;
    height: 7vh;
    margin-left: 2.5%;
    border-radius: 50px;
    font-weight: 850;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f8f8f8;
    background-color: #5e2129;
}
.btn-entrar:hover{
    color: red;
    box-shadow: 2px 2px 3px red;
    cursor: pointer;
    font-size: 22px;
}

.fundo-texto-login{
    background-color: #5e2129;
    border-radius: 50px;
    padding: 7px;
}

.retorno-entrar{
    background-color: #5e2129;
    color: #f8f8f8;
    margin-top: 10vh;
    padding: 10px;
    width: 55%;
    margin-left: 22.5%;
    margin-right: 22.5%;
    border-radius: 25px;

}

.btns-tratamento{
    display: flex;
    width: 55%;
    margin-top: 10vh;
    margin-left: 22.5%;
    margin-right: 22.5%;
}

.btn-cadastro{
    width: 55%;
    height: 7vh;
    display: flex;
    padding: 10px;
    align-items: center;
    color: #fff;
    margin-right: 5%;
    font-weight: 800;
    justify-content: center;
    background-color: #5e2129;
    border-radius: 50px;
    font-size: 16px;
}
.btn-esqueci-senha{
    width: 55%;
    height: 7vh;
    display: flex;
    padding: 10px;
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    background-color: #5e2129;
    border-radius: 50px;
}
.btn-cadastro:hover{
    color: red;
    box-shadow: 2px 2px 3px red;
    cursor: pointer;
}
.btn-esqueci-senha:hover{
    color: red;
    box-shadow: 2px 2px 3px red;
    cursor: pointer;
}