/* Guia de Cores:
    -color-gold: #ffd700;
    -color-red: #ed1c2e;
    -color-bg-header-footer: rgb(36, 31, 31);
    -color-purple: #939;
    -color-+darkpurple: #3f0569;
    -color-ghostwhite: #f8f8ff;
    -color-fonteLink: #808080;
    -color-text-manchete: #111;
*/
p{
    margin: 0;
    padding: 0;
}
.banner{
    height: 240vh;
    width: 100%;
    background-image: url('../img/ronaldo-fundo');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: top;
}
/* PARTE ESQUERDA-1 */
.banner .escolha-tema {
    width: 70%;
    margin-right: 30%;
    height: 70vh;
    background-color: #3f0569ef;
    /* border-right: 1px solid #ffd700; */
    /* border-bottom: 1px solid #ffd700; */
    box-shadow: 5px 5px 2px #000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
}
.escolha-tema .box-image{
    width: 25%;
    margin-left: 7%;
    display: flex;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 90%;
}
.escolha-tema .box-resp{
    color: #f8f8f8;
    font-size: 18.5px;
    width: 75%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
}

/* PARTE DIREITA-1 */

.banner .dificuldade-tema{
    width: 70%;
    margin-left: 30%;
    height: 70vh;
    margin-top: 7vh;
    background-color: #3f0569ef;
    box-shadow: -5px 5px 2px #000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
}
.dificuldade-tema .box-resp{
    color: #f8f8f8;
    font-size: 18.5px;
    width: 75%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
}
.dificuldade-tema .box-image{
    width: 26%;
    margin-left: 7%;
    display: flex;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 90%;
}

/* PARTE ESQUERDA-2 */
.banner .valores-tema{
    width: 70%;
    margin-right: 30%;
    height: 70vh;
    margin-top: 7vh;
    background-color: #3f0569ef;
    box-shadow: 5px 5px 2px #000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
}
.valores-tema .box-resp{
    color: #f8f8f8;
    font-size: 18px;
    width: 75%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
}
.valores-tema .box-image{
    width: 27%;
    margin-left: 7%;
    display: flex;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 90%;
}