/* Guia de Cores:
    -color-gold: #ffd700;
    -color-red: #ed1c2e;
    -color-bg-header-footer: rgb(36, 31, 31)
    -color-purple: #939
*/
body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*=========HEADER========*/
.header{
    background-color: rgb(36, 31, 31);
    height: 15vh;
    display: flex;
}

.header .container-header{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}
.header .container-header img{
    height: 15vh;
}

.header .navbar a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;    
}
.header .navbar ul{
    color: #fff;
    list-style: none;
    display: flex;
    margin-left: 47%;
    align-items: center; 
}
.header .navbar li{
    margin-right: 25px;
    font-size: 18px;  
}
.navbar{
    width: 80%;
    margin-right: 5%;
    /*background-color: blue;*/
    display: flex;
}

.active{
    font-weight: 700;
    border-bottom: 2px solid #939;
}

.header .navbar li:hover{
    transition: .5s;
    box-shadow: 0px 3px 3px #939;
    /*horizontal vertical, esfumaçado, cor*/
    cursor: pointer;
}
.header .navbar a:hover{
    transition: .5s;
    color: #ffd700;
    cursor: pointer;
}

.divisor{
    font-weight: 800;
    color: #ffd700;
}